html, .container { height: 100%; }

body {
  font-family: 'Inconsolata';
  margin: 8px;
  display: block;
}

.content {
  width: 75%;
  margin: 0 auto;
  font-size: 14px;
}

.name {
  text-decoration: underline;
  margin-bottom: 0;
  word-spacing: 11px;
}

.title {
  margin-bottom: 0;
  word-spacing: 8px;
  font-weight: 500;
}

.subtitle {
  margin-top: 0px;
  font-weight: 500;
}

.link {
  text-decoration: underline;
}

a:visited {
  color: #000;
}

a:link {
  color: #000;
}

a:hover {
  color: #000;
}

.image {
  float: left;
  width: 440px;
}

.info {
  padding-left: 56px;
  overflow: hidden;
}

.cv a:link{
   
     color: #F80;
};
.cv a:visited {
    color: #F80;
};
.cv {
  text-decoration: underline;
};