%body  
  .container.main
    .row
      .col-md-12
        .row
          .col-md-4.col-content
            %h1.name
              %a.link{:href => "/"} George Bejan
    .row
      .col-md-12
        .row
          .col-md-4.col-content
            %h2
              Tools
          .col-md-8
            .row
              .col-md-6.col-content
                %h3
                  Comfortable with
                %ul
                  %li HTML/HAML
                  %li SASS/CSS
                  %li JavaScript
                  %li AngularJS
                  %li Ruby on Rails
                  %li Java + Spring
                  %li Version Control (GIT)
              .col-md-6.col-content
                %h3
                  Some experience with
                %ul
                  %li ElastichSearch
                  %li Bootstrap
                  %li jQuery
                  %li Hibernate
                  %li Gradle
                  %li Arduino
                  %li VHDL
        .row
          %hr
        .row
          .col-md-4.col-content
            %h2
              Work experience
          .col-md-8.col-content
            .row.col-md-12
              %h3 Trainer Digital Kids
              %p
                Teach young children (8-12) introductory courses about Scratch, HTML, CSS & JS.
              %p
                %span
                  %a.link{:link => "http://digitalkids.ro/", :target => "_blank"} Digital Kids
                %span, Cluj-Napoca, October 2014 - Present
              %h3 Software developer
              %p
                Catalysts GmbH, Cluj-Napoca, June 2014 - Present
            .row.col-md-12
              %h3 Ruby on Rails developer
              %p
                RubyTribe, Cluj-Napoca, June 2012 - June 2013
        .row
          %hr
        .row
          .col-md-4.col-content
            %h2
              Education
          .col-md-8.col-content
            .row.col-md-12
            %h3 Self-taught
            %p 
              With help from the almighty internet (coursera, edx, udacity, etc.)  
            .row.col-md-12
              %h3 Computer science
              %p
                Technical University of Cluj-Napoca, 2012 - Present
            .row.col-md-12
              %h3 Highschool - Mathematics and Informatics Class
              %p
                National College "David Prodan", Cugir, 2008 - 2012
