.wide
  .col-md-12.header-content.center
    %p#first-line What I've done and
    %p#second-line My skill set
%body
  .container.main
    .row
      .col-md-12
        .row
          .col-md-4.col-content
            %h2
              Technologies
          .col-md-8
            .row
              .col-md-6.col-content
                %h3
                  Comfortable with
                %ul
                  %li HTML/HAML
                  %li SASS/CSS
                  %li JavaScript
                  %li AngularJS
                  %li Ruby on Rails
                  %li Java + Spring
                  %li Version Control (GIT)
              .col-md-6.col-content
                %h3
                  Some experience with
                %ul
                  %li ElastichSearch
                  %li Bootstrap
                  %li jQuery
                  %li Hibernate
                  %li Maven
        .row
          %hr
        .row
          .col-md-4.col-content
            %h2
              Work experience
          .col-md-8.col-content
            .row.col-md-12
              %h3 Software developer
              %p
                %strong Catalysts GmbH, Cluj-Napoca, June 2014 - Present
                %br
                  Suspendisse gravida maximus pellentesque. Fusce egestas et quam vel varius. Cras at tincidunt enim.
                  Nullam blandit ullamcorper ligula, ultricies sollicitudin lorem accumsan tempor.
                  Aenean porta arcu sit amet hendrerit dapibus. Aliquam efficitur malesuada viverra.
                  In eget odio ut orci elementum luctus et a augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Donec sit amet augue tempus, interdum enim non, convallis risus. Integer vel maximus leo.
                  Etiam ante est, pulvinar id dapibus at, semper eget eros. In pharetra fermentum felis, sed
                  pharetra metus cursus ut. Maecenas in ipsum dolor. Donec vitae pharetra leo. Nunc ullamcorper
                  augue non quam posuere dignissim. Sed orci odio, egestas et neque vel, aliquet sagittis mauris.
            .row.col-md-12
              %h3 Ruby on Rails developer
              %p
              %strong RubyTribe, Cluj-Napoca, June 2012 - June 2013
              %br
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat tincidunt fringilla. Sed suscipit nisl pulvinar, consequat diam pretium, accumsan nisi.
              Morbi semper mi quis nulla mollis, et eleifend dolor viverra. Sed mattis purus eget velit ultrices, eget pretium mauris porta. Nulla aliquam urna ligula, id fermentum libero commodo eget.
              Morbi vel rhoncus leo. Duis sagittis placerat ipsum, in rutrum lorem mattis nec. Nulla facilisi.
        .row
          %hr
        .row
          .col-md-4.col-content
            %h2
              Education
          .col-md-8.col-content
            .row.col-md-12
            %h3 computer science
            %p
              %strong Technical University of Cluj-Napoca, 2012 - Present
            .row.col-md-12
              %h3 Highschool - Mathematics and Informatics Class
              %p
                %strong  National College "David Prodan", Cugir, 2008 - 2012
%footer.text-center
  .p Copyright &copy George Bejan 2015
