.wide
  .col-md-12.header-content.center
    %p#first-line What I've done and
    %p#second-line My skill set
%body
  .container.main
    .row
      .col-md-12
        .row
          .col-md-4.col-content
            %h2
              Technologies
          .col-md-8
            .row
              .col-md-6.col-content
                %h3
                  Comfortable with
                %ul
                  %li HTML/HAML
                  %li SCSS/SASS/CSS
                  %li JavaScript
                  %li AngularJS
                  %li Ruby on Rails
                  %li Java + Spring
                  %li Version Control (GIT)
                  %li Agile Methodology
              .col-md-6.col-content
                %h3
                  Some experience with
                %ul
                  %li ElastichSearch
                  %li Bootstrap
                  %li jQuery
                  %li Hibernate
                  %li Maven
%footer.text-center
  .p Copyright &copy George Bejan 2015
