.content
  %h1.name
    George Bejan
  %h2.title
    CS student | web enthusiast
  %h3.subtitle
    Cluj-Napoca, Romania
  %br
  %br
  %div.image
    %pre
      %code 
        :preserve
          ............:+sdmmmddhhyyyhddhhhy+-...............
          .........-odNNNNdhyosyhhdmmmddmmmNmo-.............
          ........+dmNNNmdhysyhhhyydmmmmmNNNmdhs-...........
          .......smNNNNNmddmmdhhhyyhdmmNNNNNNmmmd:..........
          ......+NNNNNNmmddhyyyhhhdmNNNNNNNNNNmNNd-.........
          .....:mNNNNmmdhyyyhhdddddmNNNNMMMNNNNNNNy.........
          .....sNNNNmmddhssyhddmdmNNNNNNNNMMNNNNNNm+........
          .....ymNNNdsoo++++osyhdmNNNNNNNNNNMNNNNNNs........
          .....sdmNmy+::////++oosydmmNNmmNNMNMMNNNNs........
          .....+hdNNs:-------:/++oosyhmNmmmmNMMNNNN+........
          .....-hmNmo-:+ooso+/::::/+sydmNNmdmNMNNNm:........
          .....-ymNh/+oo+osso+/:-:/osyyyyyhdmmNNNNdo........
          .....:ommo://oshmdyso:.-ohhdmmdhyosyhmNmsy........
          ......:dh---:+++ssss+-``+hddhhhhhyssyhNdss........
          .......ss-....-:::--..`./so+ooooossssyNmy+........
          .......-+:...````..-..../ss+::::/+oosymhy-........
          ........-/-......---...-:+oo::::/+ooshyo:.........
          .........//:----::--:/::/oso/////++oymmy+oo+oo////
          .........-+:::::/:--+sssyhhysso//+osdMMMMMMMMMMNNN
          .....-:+shd+//::++///osyhhhhyso/+osydMMMMMMMMMMMMM
          .-/shdmmNNNdo//-://oyhdddddhso++oshdhyMMMMMMMMMMMM
          yhmNNNNNNNNNmy+/:/--/+sssssooyhsydddhohMMMMMMMMMMM
          mmmNNNNNNNNNMNdsos/--/+oooosydmddmhhhosdMMMMMMMMMM
          NNNNNNNNNNNNMMNsyho/-:://+shdmNmmhyyh+shMMMMMMMMMM
          NNNNNNNNNNNNNMNs/shyo+osyoshmmddhyssh+syMMMMMMMMMM
          NNNNNNNNNNNNNMNs:ssyyyyyyyyyyyyhysoyd/+yMMMMMMMMMM
          NNNNNNNNMMNNNNNy-os+oo+++++oosssooyNy-/dMMMMMMMMMM
          NNNNMNNNMMNNNNNd..dho++////++++osdNM+-:NMMMMMMMMMM
          NNNNMMNNMMNNNNNN-`+MNdhsoooosydNMMMN--/MMMMMMMMMMM
          NNNMMMNNMMNNNNNNo`.dMMMMMMMMMMMMMMMd--sMMMMMMMMMMM
          NNNMMMNMMNNNNNNNm.`/NMMMMMMMMMMMMMMs--hMMMMMMMMMMM
          NNMMMMNMMNNNNNNNNo``yNMMMMMMMMMMMMM/--NMMMMMMMMMMM
          MMMMMNMMMNNNNNNNNN---NNMMMMMMMMMMMN://MMMMMMMMMMMM
          MMMMMMMMMNNNNNNNNNy--sNMMMMMMMMMMMd//sMMMMMMMMMMMM
          MMMMMMMMMMMMMNNNNNN/::mMMMMMMMMMMMs+/dMMMMMMMMMMMM
          MMMMMMMMMMMMNNNMMMMm-++NNMMMMMMNNN+o/NMMMMMMMMMMMM
          MMMMMMMMMMMNNNNNNNNNs:/yNNMMNyo/::/++NMMMMMMMMMMMM
          MMNodMMMMMNNmyo//:ymm::-mmmNh/::++:+:/ymMMMMMMMMMM
          MMs-:hMMMMMy:--/++/NMd:-+MMm/+ymMy::+:::/hNMMMMMMM
          Mh----oNMMM+:oNMMmmMMNs--yNmshMMM+:oMNdo:ooNMMMMMM
          y------/NMMd+mMMMhNMMmN+-:sy/dMMN//dMMMMmooyMMMMMM
  %div.info
    %h2.cv 
      %a{:href => "cv"} resume
    %h2
      around the web
    %p
      %span.link
        %a{:href => "https://github.com/georgebejan", :target => "_blank"} github.com
      %span - code
    %p
      %span.link
        %a{:href => "https://twitter.com/bejan_george", :target => "_blank"} twitter.com
      %span - retweeted articles & news
    %p 
      %span.link
        %a{:href => "https://www.facebook.com/bejangeorge", :target => "_blank"} facebook.com
      %span - personal life
    %br
    %h2
      get in touch
    %p.link
      %a.link{:href => "mailto: hello@georgebejan.com"} hello@georgebejan.com
